* {padding: 0;margin: 0;}
.wrap {
    width: 980px;
    padding: 0 10px;
    margin: 0 auto;
    /*background: #333;*/
}
.wrap h2 {
    line-height: 1.8;
    text-align: center;
    /*color: #fff;*/
}
.wrap .note {
    height: 36px;
    line-height: 36px;
    /*color: #fff;*/
}
.wrap .addClass {
    color: #C6E746;
}