.wrap {
    width: 1000px;
    margin: 0 auto;
}
.wrap h2 {
    line-height: 1.8;
    text-align: center;
}
.wrap .left {
    width: 200px;
    height: 300px;
    float: left;
    background: #f4f4f4;
}
.wrap .right {
    width: 750px;
    height: 300px;
    float: right;
    background: #f4f4f4;
    position: relative;
}
.wrap .left button {
    display: block;
    margin-bottom: 10px;
}
.wrap .test-tips,
.wrap .test-tips2{
    height: 30px;
    width: 200px;
    padding: 0 5px;
    line-height: 30px;
    border-radius: 3px;
    top: 20px;
    left: 30px;
}
.wrap .test-tips2 {
    top: 80px;
    left: 30px;
}
.wrap .pop {
    position: absolute;
    background: #000;
    color: #fff;
    opacity: 0.8;
}
.wrap .hidding {
    display: none;
}

.wrap .conanjs-tips-close {
    height: 20px;
    width: 20px;
    display: block;
    position: absolute;
    right: -10px;
    top: -10px;
    background: #666;
    cursor: pointer;
    border-radius: 10px;
}